{{!< default}}

{{#post}}

  <article class="post-container post-container--single">

    <header class="post-header">
      <div class="post-meta">
        <time datetime="{{date format="MMM DD YYYY"}}" class="post-meta__date date">{{date format="MMM DD YYYY"}}</time> &#8226; <span class="post-meta__tags tags">{{tags prefix="on "}}</span>
        <span class="post-meta__author author"><img src="{{author.image}}" alt="profile image for {{author.name}}" class="avatar post-meta__avatar" /> by {{author.name}}</span>
      </div>
      <h1 class="post-title">{{{title}}}</h1>
    </header>

    <section class="{{post_class}}">
      {{content}}
    </section>
	
	<footer class="post-footer">

        {{! Everything inside the #author tags pulls data from the author }}
        {{#author}}

            {{#if image}}
            <figure class="author-image">
                <a class="img" href="{{url}}" style="background-image: url({{image}})"><span class="hidden">{{name}}'s Picture</span></a>
            </figure>
            {{/if}}

            <section class="author">
                <h5>WRITTEN BY</h5>
                <h4>{{name}}</h4>

                {{#if bio}}
                    <p>{{bio}}</p>
                {{/if}}
				
            </section>

        {{/author}}

            <section class="share">
                <h5>SHARE THIS POST</h5>
                <a href="https://twitter.com/intent/tweet?text={{encode title}}&amp;url={{url absolute="true"}}"
                    onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
					<i class='icon icon-social-twitter'></i>
					<span class="hidden">Twitter</span>
                </a>
                <a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
                    onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
					<i class='icon icon-social-facebook'></i>
                    <span class="hidden">Facebook</span>
                </a>
                <a href="https://plus.google.com/share?url={{url absolute="true"}}"
                   onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
					<i class='icon icon-social-google-plus'></i>
					<span class="hidden">Google-plus</span>
                </a>
            </section>

        </footer>

  </article>

  {{> comments}}

{{/post}}
